<h3>Lista Risorse</h3>

<button type="button" class="btn btn-lg btn-outline-success mb-3"
                        [routerLink]="['/risorse', 0,'modifica']">Aggiungi</button>

<app-paginator (dataShown)="onChangePage($event)" [data]="risorse" [forPage] ="10"></app-paginator>
<table *ngIf="risorse && risorse.length" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="width: 15%" scope="col">Nome</th>
            <th style="width: 15%" scope="col">Cognome</th>
            <th style="width: 15%" scope="col">Settore</th>
            <th style="width: 15%" scope="col">Stipendio</th>
            <th style="width: 15%" scope="col">Action</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let risorsaItem of risorseToShow">
            <td>{{risorsaItem.nome}}</td>
            <td>{{risorsaItem.cognome}}</td>
            <td>{{risorsaItem.settore.descrizione}}</td>
            <td>{{risorsaItem.stipendioRAL | currency:'EUR'}}</td>
            <td>
                <div class="btn-group btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                        [routerLink]="['/risorse', risorsaItem._id]"><small>Dettaglio</small></button>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                        [routerLink]="['/risorse', risorsaItem._id,'modifica']"><small>Modifica</small></button>
                    <button type="button" class="btn btn-sm btn-outline-danger"
                        (click)="eliminaRisorsa(risorsaItem)"><small>Elimina</small></button>
                </div>

            </td>
        </tr>
    </tbody>
</table>
